
.contenidor {
    height: 800px;
    width: 800px;
    margin: auto;
}

.filera:nth-child(2n+1){
    width: 800px;
    height: 100px;
    background-color: rgb(223, 198, 217);
}

.filera:nth-child(2n) {
    background-color: rgb(205, 133, 133);
    width: 800px;
    height: 100px;
}
.casella {
    width: 80px;
    height: 80px;
    padding: 10px;
    float: left;
}


.filera:nth-child(2n) .casella:nth-child(2n){
   background-color: rgb(240, 209, 209);
}


.filera:nth-child(2n) .casella:nth-child(2n+1) {
    background-color: rgb(142, 98, 98);
}


.filera:nth-child(2n+1) .casella:nth-child(2n){
   background-color: rgb(131, 89, 89);
}


.filera:nth-child(2n+1) .casella:nth-child(2n+1) {
    background-color: rgb(234, 198, 198);
}


.fitxa {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.filera:nth-child(2n) .casella:nth-child(2n) .fitxa{
   background-color: rgb(150, 68, 68);
}


.filera:nth-child(2n) .casella:nth-child(2n+1) .fitxa{
    background-color: rgb(212, 115, 115);
}


.filera:nth-child(2n+1) .casella:nth-child(2n) .fitxa{
   background-color: rgb(206, 109, 109);
}


.filera:nth-child(2n+1) .casella:nth-child(2n+1) .fitxa{
    background-color: rgb(137, 58, 58);
}

.filera: :nth-child(3) .fitxa, .filera:nth-child(4) .fitxa, .filera:nth-child(5) .fitxa, .filera:nth-child(6).fitxa{
    display:none
}
.filera:nth-child(n+3):nth-child(-n+6) .fitxa {
    display:none;
}

.fitxa{
    position: relative;
}

.filera:nth-child(1) .fitxa:hover{
    top: 200px;
}

.filera:nth-child(2) .fitxa:hover{
    top: 100px;
}

.filera:nth-child(7) .fitxa:hover {
    top: -100px
}
.filera: nth-child(8)-fitxa:hover{
    top: -200px;
}

.fitxa:hover{
    top: 100px;
}